*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@500;600&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@300;400&family=Rubik+Puddles&family=Rubik:wght@300&display=swap');
nav{
    height: 50px;
    background-color: rgb(47, 209, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    >h2{
        color: white;
    }
}
.con{
    display: grid;
    grid-template-columns: 48% 4% 48%;
    >.partition1{
        // border: 1px solid red;
        height: 500px;
       
    }
    >.partition{
        // border: 1px solid red;
       display: flex;
       flex-direction: column;
       padding: 10px;
        >div{
            margin: auto;
            display: flex;
            // border: 1px solid red;
            width: 300px;
            justify-content: space-between;
            align-items: center;
            >button{
                padding: 8px;
                border-radius: 4px;
                border: none;
                color: white;
                background-color: rgb(39, 28, 240);
                margin: 20px 20px 20px 0;
                cursor: pointer;
            }
            >div{
                // border: 1px solid red;
                margin-right: 140px;
            }
            >span{
                display: flex;
                flex-direction: row;
                gap: 15px;
                // border: 1px solid red;
                margin-right: 30px;
            }
            >input{
                padding: 5px;
                margin: 5px;
                width: 200px;
                border-radius: 4px;
                border: 1px solid gray;
            }
            >h2{
                font-size: 17px;
                font-weight: 500;
            }
            >.gender{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.card{
    // border: 1px solid red;
    width: 400px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: aqua;
    margin: 5px;
    >div{
        // border: 1px solid red;
        >img{
            height: 120px;
            width: 120px;
            border-radius: 9px;
            background-size: cover;
            background-position: center;
        }
    }
    >.details{
        padding: 20px;
    }
    >.image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}